.DeailCard {
  display: flex;
  justify-content: center;
  align-items: center;
  /* padding: 20px; */
 height: fit-content;
  /* padding: 20px; */
  width: 70%;
  /* height: 60%; */
}
.Detail {
  padding: 0px;
  margin: 0px;
  padding-top: 30px;
  display: flex;
  justify-content: center;
}
.dataofmovie {
  padding-left: 40px;
}
.Posterimg {
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 106px 20px rgba(0, 0, 0, 0.78);
  -moz-box-shadow: 0px 0px 106px 20px rgba(0, 0, 0, 0.78);
  box-shadow: 0px 0px 106px 20px rgba(0, 0, 0, 0.78);
  width: 35%;
  /* height: 50%; */
}
.Tagline {
  font-style: italic;
  /* padding: 20px 0px ; */
  padding-bottom: 15px;

  font-family: "Comic Sans MS", cursive, sans-serif;
}

.progressbar {
  width: 10%;
  height: 10%;

  /* padding-left: 0px;
  margin: 0px; */
}
.vote {
  font-family: "Courier New", Courier, monospace;
  align-items: center;
  display: flex;
  padding: 15px 0px;

  font-style: italic;
}
.votig {
  padding-left: 15px;
}
.status {
  display: flex;
  padding: 15px 0px;
}
.sts {
  border-radius: 8px;
  color: rgb(0, 35, 177);
  border-color: rgb(0, 35, 177);
}
.gns {
  padding: 15px 0px;
}
.ss {
  color: rgb(177, 24, 0);
  border-color: rgb(177, 177, 0);
  margin-right: 10px;
}
.lli {
  margin: 15px 0px;
  padding: 5px;
  color: rgb(6, 0, 0);
  border-color: rgb(255, 3, 3);
  margin-right: 10px;
  color: aqua;
  background-color: black;
}
.lli:hover {
  cursor: pointer;
}
.over {
  font-family: "Lucida Console", Monaco, monospace;
  font-size: 23px;
  letter-spacing: 2px;
  word-spacing: 2px;
  color: #000000;
  font-weight: normal;
  text-decoration: none;
  font-style: italic;
  font-variant: small-caps;
  text-transform: none;
}
@media screen and (max-width: 700px) {
  .DeailCard {
    /* width: 100%; */
    flex-direction: column;
  }
}
