.pop {
    justify-content: center;
    align-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .nme{
    padding: 0px;
    margin: 0px;
    margin-top: 20px;
    
  }
  .outerwrapper {
    max-width: 80%;
    max-height: 500px;
    overflow-x: scroll;
    position: relative;
    scrollbar-color: #d5ac68 #f1db9d;
    scrollbar-width: thin;
    -ms-overflow-style: none;
    margin: 0px;
  }
  .pseduo-track {
    background-color: #f1db9d;
    height: 2px;
    width: 100%;
    position: relative;
    top: -3px;
    z-index: -10;
  }
  @media (any-hover: none) {
    .pseduo-track {
      display: none;
    }
  }
  .outerwrapper::-webkit-scrollbar {
    height: 5px;
  }
  
  .outerwrapper::-webkit-scrollbar-thumb {
    height: 5px;
    background-color: #d5ac68;
  }
  
  .outerwrapper::-webkit-scrollbar-thumb:hover {
    background-color: #f1db9d;
  }
  
  .outerwrapper::-webkit-scrollbar:vertical {
    display: none;
  }
  
  .inner-wrapper {
    display: flex;
    padding-bottom: 10px;
  }

  .pseudo-item {
    height: 300px;
    width: 369px;
    margin-right: 59px;
    flex-shrink: 0;
    background-color: gray;
  }
  
  .pseudo-item:nth-of-type(2n) {
    background-color: lightgray;
  }
  @media screen and (max-width: 700px) {
    .outerwrapper {
      
      max-width: 100%;

      /* width: 30%; */
    }
  
  }
  