.SSearch{
    display: grid;
    padding: 40px;
    grid-template-columns: repeat(6,auto);
}
.notfound{
    display: flex;
    width: 100%;
    /* justify-content: center; */
}
.animate{
    background-color: red;
  position: relative;
  animation-name: example;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}
@keyframes example {
    0%   {background-color:red; left:0%; }
    50%  {background-color:yellow; left:100%;}
    /* 50%  {background-color:blue; left:0px; top:0px;}
    75%  {background-color:green; left:1300px; top:0px;} */
    100% {background-color:red; left:0%;}
  }